<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_head %>
</head>
<body>
    <!-- Add your EJS code here -->

    <header>
      <% include ./partials/_header %>
    </header>



         <table>
          <tr>
            <th>Code</th>
            <th>Destination Address</th>
            <th>Full Path</th>
            <th>Example Link</th>
          </tr>

          <% Object.keys(urls).forEach(function(key) { %>
          <tr>
            <td style="width:120px"><%= key %></td>
            <td style="width:300px"><%= urls[key] %> </td>
            <td style="width:160px">https://u/<%=key%></td>
            <td style="width:160px"><a href="<%= urls[key] %>" class="btn btn-info" style="width:170px">https://u/<%=key%></a></td>
          </tr>
           <% });%>
        </table>



</body>
</html>